html,body{
    margin:0;
    padding:0;
}

#contenedor{
    width:100vw;
    height:100vh;
    left:0;
    top:0;
    position:relative;
}

#tt{
    margin-left:1.2vw;
}

#cabecera{
    position:fixed;
    width:100vw;
    height:5vh;
    top:0;
    left:0;
    font-family:'Bebas Neue Book';    
    font-weight:normal;
    letter-spacing: 0.2em;
    display:flex;
    /*justify-content:space-between;*/
    justify-content:flex-start;
    align-items:center;
    padding-top:0.5vh;
    padding-left:1.2vw;
    padding-right:0.9vw;
    box-sizing: border-box;
    background-color: #FFF;
}

.textopq{
    font-size:3vh;
}

#x_cerrar{
    z-index:999;
    /*opacity:0;
    display:none;*/
    -webkit-transition: opacity 0.5s; /* Safari */
    transition: opacity 0.5s;
    cursor:pointer;
}

.xcerrar{
    color:#000;
    font-family:'Bebas Neue';
    font-weight:100;
    font-size:7vw;
    position:fixed;
    top:3.5vh;
    right:3vh;
    transform: rotate(45deg);    
}

.xcerrar.brillo{
    color:#FFF;
    top:3.4vh;
    right:2.9vh;
    opacity:0.3;
}

#pagina{
    width:100vw;
    height:95vh;
    left:0;
    top:5vh;
    position:absolute;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    -webkit-transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s; /* Safari */
    transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
    transition-timing-function: ease-in-out;
}

.thumb{
    position:relative;
    background-color: #CCC;
    overflow:hidden;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    -webkit-transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s; /* Safari */
    transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
    transition-timing-function: ease-in-out;
}

.titulo{
    font-family:'Bebas Neue';
    font-size:3vw;
    font-weight:300;
    letter-spacing: 0.2em;
    color:#000;
    position:absolute;
    /*bottom:0.6vw;*/
    top: 0.8vw;
    left:1.2vw;
}

.titulo.brillo{
    color:#FFF;
    left:1.3vw;
    bottom:0.7vw;
    opacity:0.3;
}

.sombra{
    opacity:0.17;
}

.sombra45{
    opacity:0.17;
}

.gradiente_blanco{
    width:100%;
    height:40%;
    position:absolute;
    left:0;
    top:0;
    /*background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1)));*/
    background: -prefix-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
    opacity:0.3;
    -webkit-transition: opacity 0.5s; /* Safari */
    transition: opacity 0.5s;
}

.FOTOGRAFÍA{
    background-image:url('http://gustavosanabria.com/img/acequia/005.jpg');
}

.contenido{
    position:absolute;
    overflow:hidden;
    width:100%;
    height:100%;
    left:0;
    top:0;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    align-content: center;
    flex-wrap: wrap;
    -webkit-transition: opacity 0.2s; /* Safari */
    transition: opacity 0.2s;
    visibility: hidden;
}

#menu{
    margin-top:-4px;
}

.menu-button {
  display: block;
  width: 20px;
}
.menu-button:before,
.menu-button:after {
  background-color: black;
  content: '';
  display: block;
  height: 2px;
}
.menu-button:before {
  box-shadow: 0 6px 0 black;
  margin-bottom: 10px;
}

.item{
    position:relative;
    width:17vw;
    height:22vw;
    background-color: rgba(255,255,255,0.7);
    -webkit-transition: opacity 0.5s; /* Safari */
    transition: opacity 0.5s;
    opacity:0;
    cursor:pointer;
}

.fotoitem{
    position:absolute;
    left:1vw;
    top:1vw;
    width:15vw;
    height:15vw;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.descripcionitem{
    position:absolute;
    left:1vw;
    top:16vw;
    font-family:'Bebas Neue';    
    font-weight:normal;
    letter-spacing: 0.2em;
}

.titularitem{
    font-family:'Bebas Neue';    
    font-weight:normal;
    margin:1vw 0 0 0;
}

.subtitularitem{
    font-family:'Bebas Neue Book';    
    font-weight:normal;
    font-size:0.8em;
    margin:0.3vw 0 0 0;
}

#item_0_0 .fotoitem{
    background-image: url('http://gustavosanabria.com/img/india/006.jpg');
}

.masitem{
    display:flex;
    font-family:'Bebas Neue';    
    font-weight:100;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20vw;
}

@media only screen and (max-width : 480px) {
    #cabecera{
        font-size:3vw;
        padding-left:4vw;
        padding-right:2.7vw;
    }
    #tt{
        margin-left:3.5vw;
    }
    .textopq{
        font-size:3vw;
    }
    .titulo{
        font-size:9vw;
        left:4vw;
        /*bottom:2vw;*/
        bottom: initial;
        top: 2.5vh;
    }
    .titulo.brillo{
        left:4.1vw;
        bottom:2.1vw;
    }
    .xcerrar{
        font-size:20vw;
        top:-2.7vh;
        right:2vh;
    }
    .xcerrar.brillo{
        top:-2.8vh;
        right:1.9vh;
    }
    .item{
        width:46vw;
        height:62vw;
        margin-top:2vw;
    }
    .fotoitem{
        width:44vw;
        height:44vw;
    }
    .descripcionitem{
        left:2vw;
        top:46vw;
    }
    .masitem{
        font-size:55vw;
    }
}


